body {
  margin: 0px;
  padding: 0px;
}
ul{
  padding: 5px 0  5px 0;
}
h1 {
  font-size: 2em;
}

nav {
  background-color:teal;
  padding:10px;
  text-align: center;
}
section {background-color: chartreuse;
  text-align: left;
}
div.box{
  display: inline-block;

}
div img{
  width: 100%;


}
div p{
  background-color: lightblue;
  border: 5px;
  padding: 5px;
}
p::first-letter{
  color: darkblue;
  font-size: 40px;
}
